* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

.Filter {
    margin: 20px 20px;
}

.Filterbar {
    height: 30px;
    margin-bottom: 20px;
}

.Filterbutton {
    height: 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 50px;
    gap: 20px;
}

.card {
    display: flex;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.cardimage img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.cardaddress {
    color: rgb(70, 63, 63);
}

.allbox {
    display: flex;
    margin: 5px 5px;
    text-align: center;
    border: 1px solid #f00;
}

.boxlabel1 {
    display: inline-flex;
    align-items: center;
    margin: 10px 10px;
    border: 1px solid #f00;
    text-align: center;
    margin-bottom: 50px;
}

.label1 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #f00;
}

.imglabel1 {
    width: 50px;
    height: 50px;
    background-color: rgb(72, 184, 72);
    border-radius: 100px;
    border: 1px solid #f00;
}

.imglabel1 p {
    text-align: center;
    margin-top: 12px;
}

.textlabel1 {
    align-items: center;
    width: 80px;
    margin-top: 10px;
    border: 1px solid #f00;
}

.line1 {
    width: 50px;
    height: 2px;
    margin: 2px 2px;
    background-color: white;
    border: 1px solid #f00;
}

.label2 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #f00;
}

.imglabel2 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
}

.imglabel2 p {
    margin-top: 15px;
    align-items: center;
}

.textlabel2 {
    align-items: center;
    width: 80px;
    margin-bottom: 20px;
    border: 1px solid #f00;
}

.line2 {
    width: 50px;
    height: 2px;
    margin: 2px 2px;
    background-color: white;
    border: 1px solid #f00;
}

.label3 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #f00;
}

.imglabel3 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
}

.imglabel3 p {
    margin-top: 15px;
    align-items: center;
}

.textlabel3 {
    align-items: center;
    width: 80px;
    margin-bottom: 20px;
    border: 1px solid #f00;
}

.step-item {
    width: 300px;
}

.step-item .item {
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid #00f;
}

.step-item .item .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid green;
}

.step-item .item .level {
    width: calc(100% - 50px);
    height: 4px;
    background-color: #f00;
}

.step-item .descrition {
    text-align: left;
    border: 1px solid #f00;
}

.step-item:last-child .item .level {
    display: none;
}

.boxinput {
    display: flex;
    width: auto;
    height: 100px;
    background-color: bisque;
    align-items: center;
    justify-content: center;
    border: 1px solid #00f;
    margin-bottom: 50px;
    margin: 20px 20px;
}

.boxinput p {
    display: inline;
    align-items: center;
}

.page-box {
    display: flex;
    margin: 20px 20px;
    background-color: aqua;
    border: 1px solid #f00;
    align-items: stretch;
}

.dropdown {
    position: relative;
    border: 1px solid red;
    text-align: right;
}

.dropdown-button {
    background-color: rgb(42, 181, 206);
    width: 120px;
    height: 30px;
}

.dropdown-head {
    position: absolute;
    border: 1px solid rebeccapurple;
    right: 0;
}

.dropdown-content {
    width: 150px;
    height: 100px;
    font-size: 18px;
    text-align: left;
    padding: 10px 5px;
    background-color: aliceblue;
    border: 1px solid salmon;
}

.dropdown-button:hover {
    background-color: aqua;
}

.dropdown-select:hover {
    background-color: aquamarine;
}

.drawer-content {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
}

.pagintation-text {
    padding: 25px;
    font-size: 20px;
}

ul.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul.pagination li {
    margin: 10px 10px;
}

.page-item.active .page-link {
    background-color: #424242;
    color: #fff;
}